<footer class="site-footer gradient-bar">

	<div class="wrapper">
		<div class="footer-content">
			<h3>lorem ipsum</h3>
			<p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Cras ultricies mi eu turpis hendrerit fringilla. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Quisque malesuada placerat nisl. Curabitur ullamcorper ultricies nisi.</p>
			<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</div>
		<div class="footer-social">
			<ul>
				<li>
					<a href="http://www.twitter.com/{{ site.twitter_username }}">
						<img src="/images/twitter.png" alt="twitter logo" width="40">
					</a>
				</li>
				<li>
					<a href="http://www.github.com/{{ site.github_username }}">
						<img src="/images/github.png" alt="github logo" width="40">
					</a>
				</li>
				<li>
					<a href="http://plus.google.com/{{ site.google_username }}">
						<img src="/images/google.png" alt="google logo" width="40">
					</a>
				</li>
			</ul>
		</div>
	</div>

</footer>
