.site-header {
	padding:2em 0 0;

	background: url('/images/header-bg2.png');
	background-size:400px 400px;
	border-bottom:1px solid #ccc;
	text-align:center;
}
.site-nav {
	text-align:center;
	ul { list-style:none; }
	li {
		display:inline-block;
		margin:0 0.5em;
		font-size:1.875em;
	}
}
.site-title a {
	color:$text-color;
}

.site-section {
	@extend %clearfix;
	padding-top:$h1-font-size;
}
.site-section-last {
	padding-bottom:$h1-font-size;
}

.site-footer {
	padding:2em 0;
	color:#fff;
	background:$grey-color-dark;
}
.footer-content {
	float:left;
	width:40%;
	font-size:0.875em;

	h3 {
		text-align:left;
	}
}
.footer-social {
	float:right;
	li {
		display:inline-block;
		margin:0 0.5em;
	}
}
